# Binaries
bin/

# Build
out/
build/
.cache/
compile_commands.json
[Ee]ngine/[Aa]ssets/[Ss]haders/*.spv
*.nkmesh
*.nkmesh.tmp.*

# Visual Studio
.vscode/
.vs/

# JetBrains
.idea/

# IA
.gemini/
.ignore/
