[submodule "tests/vendor/googletest"]
	path = tests/vendor/googletest
	url = https://github.com/google/googletest
[submodule "engine/vendor/glm"]
	path = engine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "engine/vendor/tinyobjloader"]
	path = engine/vendor/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "engine/vendor/rapidhash"]
	path = engine/vendor/rapidhash
	url = https://github.com/Nicoshev/rapidhash
[submodule "engine/vendor/libspng"]
	path = engine/vendor/libspng
	url = https://github.com/randy408/libspng.git
[submodule "engine/vendor/zlib"]
	path = engine/vendor/zlib
	url = https://github.com/madler/zlib.git
