[submodule "engine/vendor/wy"]
	path = engine/vendor/wy
	url = https://github.com/NivekNK/wy
[submodule "tests/vendor/googletest"]
	path = tests/vendor/googletest
	url = https://github.com/google/googletest
[submodule "tests/vendor/benchmark"]
	path = tests/vendor/benchmark
	url = https://github.com/google/benchmark
[submodule "engine/vendor/glm"]
	path = engine/vendor/glm
	url = https://github.com/g-truc/glm
